.contacts-footer-list {
  $root: &;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-width: 70%;

  @include media-breakpoint-down(md) {
    flex-flow: column wrap;
    min-width: 100%;
  }

  &__item {
    position: relative;

    padding-right: 15px;
    padding-bottom: 20px;
    max-width: 50%;

    @include media-breakpoint-down(md) {
      max-width: 100%;

      &:last-of-type {
        padding-bottom: 30px;

        @include media-breakpoint-down(sm) {
          padding-bottom: 25px;
        }
      }
    }
  }

  &__link {
    position: relative;

    display: flex;
    flex-flow: row wrap;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    color: $link-color;
    text-decoration: $link-decoration;

    transition-duration: 0.3s;
    transition-property: all;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;

      #{$root}__icon {
        fill: $primary;
      }
    }

    &:focus {
      outline: none;
    }

    > * {
      pointer-events: none;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    transition-duration: inherit;
    transition-property: inherit;
    fill: $body-color;
  }

  &__text {
    padding-left: 30px;
  }

  &__annotation {
    margin: 0;
    padding: 0;
    padding-left: 30px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #707c87;
  }
}
