.departments {
  display: block;
  min-width: $min-width;
  max-width: $max-width;

  @include make-container();
  @include padding-x($offset--desktop);

  @include media-breakpoint-down(md) {
    @include padding-x($offset--tablet);
  }

  @include media-breakpoint-down(sm) {
    @include padding-x(initial);
  }

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 55px;

    font-size: 41px;
    line-height: 1.4;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      margin-bottom: 35px;
      font-size: 32px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      font-size: 22px;
    }
  }
}
