.socials-footer-list {
  $root: &;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 120px;
  max-width: 20%;

  @include media-breakpoint-down(md) {
    justify-content: flex-start;
    min-width: 100%;
    max-width: initial;
  }

  &__item {
    padding-right: 15px;
    padding-bottom: 15px;

    @include media-breakpoint-down(md) {
      padding-right: 20px;
    }
  }

  &__link {
    transition-duration: 0.3s;
    transition-property: all;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;

      #{$root}__icon {
        fill: $primary;
      }
    }

    &:focus {
      outline: none;
    }

    > * {
      pointer-events: none;
    }
  }

  &__icon {
    transition-duration: inherit;
    transition-property: inherit;
    fill: $body-color;
  }

  &__text {
    @include visually-hidden;
  }
}
