include ../slide/slide

mixin slider(data)
	+b('ul').slider(id='slider')&attributes(attributes)
		div.swiper-container
			div.swiper-wrapper
				each item in data
					+slide(item)(class='__slide swiper-slide')
			div.swiper-pagination
