include ../slide/slide

mixin slider(data)
	+b('ul').slider(id='slider', class='swiper-wrapper')&attributes(attributes)
		each item in data
			+slide(item)(class='__slide swiper-slide')
	div.swiper-pagination
