@mixin bg-image($number) {
  background: url("img/sprite/bg-image#{$number}--desktop.png") no-repeat center/cover;

  @media #{$retina} {
    background: url("img/sprite/bg-image#{$number}--desktop@2x.png") no-repeat
      center/cover;
  }

  @include media-breakpoint-down(md) {
    background: url("img/sprite/bg-image#{$number}--tablet.png") no-repeat center/cover;

    @media #{$retina} {
      background: url("img/sprite/bg-image#{$number}--tablet@2x.png") no-repeat
        center/cover;
    }
  }

  @include media-breakpoint-down(sm) {
    background: url("img/sprite/bg-image#{$number}--mobile.png") no-repeat right
      center/auto;

    @media #{$retina} {
      background: url("img/sprite/bg-image#{$number}--mobile@2x.png") no-repeat
        right center/auto 100%;
    }
  }
}
