mixin slide(data)
	+b('li').slide&attributes(attributes)(class=`--${data.modifier}`)
		- const { slogan, caption } = data;
		+e('div').container
			+e('h2').title Лига Банк
			+e('p').slogan= slogan
			if caption !== ''
				+e('a').link(href='#')= caption
