@import "mixins.scss";

.slide {
  $slide: &;

  @include make-container();
  display: block;
  min-height: inherit;

  &__title,
  &__slogan,
  &__link {
    line-height: 1.2;
  }

  &__title,
  &__slogan {
    margin: 0;
    padding: 0;

    font-size: 54px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      font-size: 46px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 38px;
    }
  }

  &__slogan {
    font-size: 22px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    @include padding-x(36px);
    @include padding-y(16px);

    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: $link-decoration;

    border-radius: 4px;

    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color, background-color;

    &:hover {
      text-decoration: $link-hover-decoration;
    }

    @include media-breakpoint-down(md) {
      @include padding-x(32px);
      @include padding-y(15px);

      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      min-width: 160px;

      @include padding-x(14px);
      @include padding-y(14px);
      font-size: 14px;
    }
  }

  &__container {
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    min-width: $min-width;
    max-width: $max-width;
    min-height: inherit;

    @include margin-x(auto);
    @include padding-x($offset--desktop);

    @include media-breakpoint-down(md) {
      @include padding-x($offset--tablet);
    }

    @include media-breakpoint-down(sm) {
      @include padding-x(initial);
    }
  }

  &--first {
    background: linear-gradient(to bottom, $primary 33.33%, #2027b3 100%);

    @include media-breakpoint-down(sm) {
      background: $primary;
    }

    & #{$slide}__container {
      @include bg-image(1);
      color: $body-bg;
    }

    & #{$slide}__slogan {
      color: #e0e1ea;
    }

    & #{$slide}__link {
      color: $body-color;
      background-color: $body-bg;

      &:hover {
        color: $body-bg;
        background-color: $body-color;
      }
    }
  }

  &--second,
  &--thrid {
    & #{$slide}__title {
      color: #1f1e25;
    }

    & #{$slide}__slogan {
      color: #2b3c4f;
    }
  }

  &--second {
    background-image: linear-gradient(to right, #dde2ec 25%, #f4fbff 25%);

    @include media-breakpoint-down(sm) {
      background-image: linear-gradient(to right, #dde2ec 75%, #f4fbff 75%);
    }

    & #{$slide}__container {
      @include bg-image(2);
    }
  }

  &--third {
    background-color: #e6f1fe;

    & #{$slide}__container {
      @include bg-image(3);
    }

    & #{$slide}__slogan {
      color: #2b3c4f;
    }

    & #{$slide}__link {
      color: $body-bg;
      background-color: $primary;

      @include media-breakpoint-up(lg) {
        min-width: 240px;
      }
    }
  }
}
