.slide {
  $slide: &;

  @include make-container();
  display: block;
  min-height: inherit;

  &__title,
  &__slogan,
  &__link {
    line-height: 1.2;
  }

  &__title,
  &__slogan {
    margin: 0;
    padding: 0;
  }

  &__title {
    margin-top: 100px;
    margin-bottom: 8px;

    font-size: 54px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      margin-top: 63px;
      font-size: 46px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 36px;
      font-size: 38px;
    }
  }

  &__slogan {
    font-size: 22px;
    margin-bottom: 35px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 27px;
      font-size: 16px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    @include padding-x(36px);
    @include padding-y(16px);
    margin-bottom: 100px;

    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: $link-decoration;

    border-radius: 4px;

    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color, background-color;

    &:hover {
      text-decoration: $link-hover-decoration;
    }

    @include media-breakpoint-down(md) {
      @include padding-x(32px);
      @include padding-y(15px);
      margin-bottom: 63px;

      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      min-width: 160px;

      @include padding-x(14px);
      @include padding-y(14px);
      margin-bottom: 36px;

      font-size: 14px;
    }
  }

  &__container {
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    min-width: $min-width;
    max-width: $max-width;
    min-height: inherit;
    height: 100%;

    @include margin-x(auto);
    @include padding-x($offset--desktop);

    @include media-breakpoint-down(md) {
      @include padding-x($offset--tablet);
    }

    @include media-breakpoint-down(sm) {
      @include padding-x(initial);
    }

    > * {
      margin-left: 170px;
      max-width: 35%;

      @include media-breakpoint-down(md) {
        margin-left: 40px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 15px;
        max-width: 65%;
      }
    }
  }

  &--first {
    background: linear-gradient(to bottom, $primary 33.33%, #2027b3 100%);

    @include media-breakpoint-down(sm) {
      background: $primary;
    }

    & #{$slide}__container {
      background: url("img/sprite/bg-image1--desktop.png") no-repeat
        center;

      @media #{$retina} {
        background: url("img/sprite/bg-image1--desktop@2x.png") no-repeat
          center/cover;
      }

      @include media-breakpoint-down(md) {
        background: url("img/sprite/bg-image1--tablet.png") no-repeat
          center;

        @media #{$retina} {
          background: url("img/sprite/bg-image1--tablet@2x.png") no-repeat
            center/cover;
        }
      }

      @include media-breakpoint-down(sm) {
        background: url("img/sprite/bg-image1--mobile.png") no-repeat right
          center/auto;

        @media #{$retina} {
          background: url("img/sprite/bg-image1--mobile@2x.png") no-repeat right
            center/auto 100%;
        }
      }
      color: $body-bg;
    }

    & #{$slide}__slogan {
      color: #e0e1ea;
    }

    & #{$slide}__link {
      color: $body-color;
      background-color: $body-bg;

      &:hover {
        color: $body-bg;
        background-color: $body-color;
      }
    }
  }

  &--second,
  &--thrid {
    & #{$slide}__title {
      color: #1f1e25;
    }

    & #{$slide}__slogan {
      color: #2b3c4f;
    }
  }

  &--second {
    background-color: #dde2ec;
    background-image: linear-gradient(to right, #dde2ec 50%, #f4fbff 50%);

    @include media-breakpoint-down(sm) {
      background-image: linear-gradient(to right, #dde2ec 75%, #f4fbff 75%);
    }

    & #{$slide}__container {
      background: url("img/sprite/bg-image2--desktop.png") no-repeat
        center;

      @media #{$retina} {
        background: url("img/sprite/bg-image2--desktop@2x.png") no-repeat
          center/cover;
      }

      @include media-breakpoint-down(md) {
        background: url("img/sprite/bg-image2--tablet.png") no-repeat
          center;

        @media #{$retina} {
          background: url("img/sprite/bg-image2--tablet@2x.png") no-repeat
            center/cover;
        }
      }

      @include media-breakpoint-down(sm) {
        background: url("img/sprite/bg-image2--mobile.png") no-repeat right
          center/auto;

        @media #{$retina} {
          background: url("img/sprite/bg-image2--mobile@2x.png") no-repeat right
            center/auto 100%;
        }
      }
    }
  }

  &--third {
    background-color: #e6f1fe;

    & #{$slide}__container {
      background: url("img/sprite/bg-image3--desktop.png") no-repeat
        center;

      @media #{$retina} {
        background: url("img/sprite/bg-image3--desktop@2x.png") no-repeat
          center/cover;
      }

      @include media-breakpoint-down(md) {
        background: url("img/sprite/bg-image3--tablet.png") no-repeat
          center;

        @media #{$retina} {
          background: url("img/sprite/bg-image3--tablet@2x.png") no-repeat
            center/cover;
        }
      }

      @include media-breakpoint-down(sm) {
        background: url("img/sprite/bg-image3--mobile.png") no-repeat right
          center/auto;

        @media #{$retina} {
          background: url("img/sprite/bg-image3--mobile@2x.png") no-repeat right
            center/auto 100%;
        }
      }
    }

    & #{$slide}__slogan {
      color: #2b3c4f;
    }

    & #{$slide}__link {
      color: $body-bg;
      background-color: $primary;

      @include media-breakpoint-up(lg) {
        min-width: 240px;
      }
    }
  }

  &.swiper {
    &-slide {
      height: initial;
    }
  }
}
