.password-modal-form-field {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 8px;

  @include media-breakpoint-down(md) {
    margin-bottom: 7px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }

  label {
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 1;

    cursor: pointer;
  }

  input {
    width: 100%;
    min-height: 60px;
    padding: 10px;

    font-size: 16px;
    line-height: 1;
    color: $body-color;

    appearance: none;
    background-color: transparent;
    border: 1px solid $body-color;
    border-radius: 4px;

    transition-property: all;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }

  a {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-start;
    width: initial;
    margin-left: auto;

    font-size: 12px;
    line-height: 1;
    color: #707c87;
    text-decoration: $link-decoration;

    outline: none;

    transition-property: color;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      left: 50%;
      bottom: 0;

      font-size: 14px;

      transform: translateX(-50%);
    }
  }

  &--invalid {
    & input,
    & input:hover,
    & input:focus {
      border-color: $danger;
    }

    & button:hover {
      fill: $danger;
    }
  }

  &__feedback {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    min-height: 10px;

    font-size: 12px;
    line-height: 1;
  }

  &__inner {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      margin-bottom: 7px;
    }

    & input {
      padding-right: 65px;
    }

    & button {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 5;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 60px;
      padding: 0;
      padding-right: 5px;
      margin: 0;

      fill: $body-color;
      cursor: pointer;
      transition-property: fill;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        fill: $primary;
      }

      > * {
        pointer-events: none;
      }

      @include media-breakpoint-down(sm) {
        width: 50px;
        padding-right: initial;
      }
    }
  }

  &__error-message {
    align-self: flex-end;
    font-size: 10px;
    color: $danger;
  }
}
