.services {
  $services: &;

  position: relative;
  margin-bottom: 95px;

  @include media-breakpoint-down(md) {
    margin-bottom: 70px;
    background-color: $body-bg;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
  }

  &__title {
    @include visually-hidden();
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    @include list-unstyled();
    @include row-cols(4);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;

    &--active {
      background-color: $body-bg;
    }
  }

  &__text {
    max-width: 70%;
  }

  &__icon {
    order: -1;
    margin-right: 10px;
    fill: $primary;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: $link-color;
    text-decoration: $link-decoration;

    cursor: pointer;
    outline: none;

    &:hover {
      & #{$services}__text {
        color: $primary;
        text-decoration: $link-hover-decoration;

        transition-duration: 0.3s;
        transition-property: color;
      }

      & #{$services}__icon {
        fill: $body-color;

        transition-duration: 0.3s;
        transition-property: fill;
      }
    }
  }

  &__wrapper {
    @include list-unstyled();
    margin: 0;
    padding: 0;
  }

  & .swiper {
    &-slide {
      flex-shrink: initial;

      @include media-breakpoint-down(md) {
        flex-shrink: 0;
      }
    }

    &-pagination {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &.swiper {
    &-container-horizontal > .swiper-pagination-bullets,
    &-pagination-custom,
    &-pagination-fraction {
      @include media-breakpoint-down(md) {
        bottom: 7px;
      }

      .swiper-pagination-bullet {
        background-color: $primary;
        opacity: 1;

        &-active {
          background-color: #e0e0e0;
        }

        @include media-breakpoint-down(md) {
          width: 8px;
          height: 8px;
        }

        @include media-breakpoint-down(sm) {
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}

