.main-nav-list {
  $root: &;

  @include make-container();
  @include make-row();
  @include list-unstyled;

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: initial;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: $body-bg;
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;

    &--hidden {
      width: 1px;
      height: 1px;
      overflow: hidden;
      opacity: 0;
    }

    #{$root}__item {
      margin: 0;
      padding: 15px;
    }
  }

  &__item {
    margin-right: 25px;
    color: $link-color;
    font-size: 16px;
    line-height: 19px;
    text-decoration: $link-decoration;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
      font-size: 14px;
      line-height: 16px;
    }

    &:last-child {
      margin-right: initial;
    }

    :hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    :active {
      font-weight: 700;
    }
  }

  &__link {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    transition-duration: 0.3s;
    transition-property: color, font-weight;
  }
}
