extends ../blocks/layout

block data
	-
		const page = {
			path: 'index',
			title: 'ЛИГА Банк',
			description: '',
		};

block content
	+page
		+page-header
		+main-content
			+about(class='__about')
				+e('h1').title Лига Банк
				+slider(global.jsons.slider)(class='__slider')
			+services(global.jsons.services)(class='__services')
			+calculator(global.jsons.calculator)(class='__calculator')
			+departments(global.jsons.departments)(class='__departments')
			+footer(global.jsons.footer)(class='__footer')
		+modal(`page-header`)(class='--page-header', id='modal-page-header')
			+e('header').header
				+logo({mod: 'extended', width: 150, height: 30})(class='__logo')
				+e('a').trigger(tabindex= 0, aria-label='Close modal', data-modal='modal-page-header')
					+e('svg').icon(width=16, height=16)
						use(xlink:href='#modal__close')
			+e('div').content
				+e('form')
					+e('div').form-field--login.login-modal-form-field__
						label(for='login-modal-form-field') Логин
						input(type='text', id='login-modal-form-field', name='login')
						+e('div').feedback
					+e('div').form-field--password.password-modal-form-field__
						label(for='password-modal-form-field') Пароль
						+e('div').inner
							input(type='password', id='password-modal-form-field', name='password')
							button(type='button', aria-label='Show password')
								svg(width=22, height=12)
									use(xlink:href='#modal__show')
						+e('div').feedback
						a(href='#') Забыли&nbsp;пароль?
					button(type='submit') Войти
		+modal(`page-header`)(class='--calculator', id='modal-calculator')
			+e('a').trigger(aria-label='Close modal', data-modal='modal-calculator', tabindex= 0)
				+e('svg').icon(width=16, height=16)
					use(xlink:href='#modal__close')
			+e('header').title
				| Спасибо за&nbsp;обращение в&nbsp;наш банк.
			+e('div').content
				| Наш менеджер скоро свяжется с&nbsp;вами по&nbsp;указанному номеру телефона.

block prepend scripts
	script(src='https://api-maps.yandex.ru/2.1/?apikey=11aaabb3-db81-4870-9404-82e2fb51e3d8&lang=ru_RU')
