extends ../blocks/layout

block data
	-
		const page = {
			path: 'index',
			title: 'ЛИГА Банк',
			description: '',
		};

block content
	+page
		+page-header
		+main-content
			+about(class='__about')
				+e('h1').title Лига Банк
				+slider(global.jsons.slider)(class='__slider')
			+services(global.jsons.services)(class='__services')
				+e('h2').title Услуги
		+modal
