.main-nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  align-items: baseline;

  @include media-breakpoint-down(md) {
    align-items: center;
  }

  @include media-breakpoint-down(sm) {
    order: -1;
  }

  &__logo {
    margin-right: 58px;
    margin-left: -37px;

    @include media-breakpoint-down(md) {
      margin-right: 66px;
      margin-left: initial;
    }

    @include media-breakpoint-down(sm) {
      @include margin-x(initial);
    }
  }

  &__trigger {
    display: none;
    background-color: transparent;
    border: 0;
    transition-duration: 0.3s;
    transition-property: stroke;
    stroke: $body-color;
    z-index: 5;

    @include media-breakpoint-down(sm) {
      display: flex;
      margin-right: 6px;
      padding: 0;
    }

    &:hover {
      stroke: $primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__login {
    margin-left: auto;
  }

  &__dropdown {
    display: none;
  }
}
