include ../main-nav-list/main-nav-list
include ../logo/logo
include ../login/login

mixin main-nav(data)
	+b('nav').main-nav&attributes(attributes)
		+e('button').trigger--close-menu(type='button', aria-label='Close menu')
			svg(width=16, height=10)
				use(xlink:href='#main-nav__close')
		+logo(class='__logo')
		+main-nav-list(data)(class='__list')
		+login(class='__login')
		block
