mixin logo(data = {})
	+b('a').logo&attributes(attributes)
		- const { mod = '' } = data;
		+e('img').image(src=`@logo/logo${mod ? `--${mod}` : ''}.svg`, width='149', height='25', alt='ЛИГА Банк', title='ЛИГА Банк')
