.logo {
  display: block;

  &__image {
    display: block;
    width: 149px;
    height: 25px;

    @include media-breakpoint-down(md) {
      width: 133px;
      height: 24px;
    }

    @include media-breakpoint-down(sm) {
      width: 115px;
      height: 18px;
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
}
