.logo {
  display: block;

  &__image {
    display: block;
    width: 149px;
    height: 25px;

    @include media-breakpoint-down(md) {
      width: 133px;
      height: 24px;
    }

    @include media-breakpoint-down(sm) {
      width: 113px;
      height: 17px;
    }
  }
}
