.main-content {
  display: block;
  min-height: 100vh;

  background-color: #ffffff;
  overflow: hidden;

  &__about {
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: initial;
    }
  }

  &__services,
  &__calculator {
    min-width: $min-width;
    max-width: $max-width;

    @include make-container($offset--desktop * 2);

    @include media-breakpoint-down(md) {
      @include padding-x(initial);
      max-width: initial;
    }
  }
}
