.page {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  overflow: hidden;
  color: $body-color;
  font-weight: 400;
  font-family: $font-family-base;
  background-color: transparent;

  &__container {
    @include make-container();
  }
}
