@import "./node_modules/normalize.scss/normalize.scss";
@import "app/blocks/develop/page/base/common.scss";
@import "app/blocks/develop/page/base/fonts.scss";

.page {
  $page: &;

  @include make-container();
  display: block;
  max-width: 100%;
  height: 100%;

  color: $body-color;
  font-weight: 400;
  font-family: $font-family-base;

  background-color: transparent;
  overflow-x: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  &--overlay::before {
    display: block;
  }
}
