.page-header {
  @include padding-x(98px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 91px;
  background-color: $body-bg;

  @include media-breakpoint-down(md) {
    @include padding-x(45px);
    min-height: 69px;
  }

  @include media-breakpoint-down(sm) {
    @include padding-x(15px);
    min-height: 48px;
  }
}
