.page-header {
  display: block;
  background-color: $body-bg;

  &__container {
    @include make-container();
    @include padding-x(98px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-width: $min-width;
    max-width: $max-width;
    min-height: 91px;

    @include media-breakpoint-down(md) {
      @include padding-x(45px);
      min-height: 69px;
    }

    @include media-breakpoint-down(sm) {
      @include padding-x(15px);
      min-height: 48px;
    }
  }
}
