.page-header {
  @include make-container();
  display: block;

  &__fluid-container {
    background-color: $body-bg;
  }

  &__container {
    @include margin-x(auto);
    @include padding-x($offset--desktop);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-width: $min-width;
    max-width: $max-width;
    min-height: 91px;

    @include media-breakpoint-down(md) {
      @include padding-x($offset--tablet);
      min-height: 69px;
    }

    @include media-breakpoint-down(sm) {
      @include padding-x($offset--mobile);
      min-height: 48px;
    }
  }
}
