.login-modal-form-field {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 8px;

  @include media-breakpoint-down(md) {
    margin-bottom: 7px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }

  & label {
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 1;

    cursor: pointer;
  }

  & input {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1;
    color: $body-color;

    appearance: none;
    background-color: transparent;
    border: 1px solid $body-color;
    border-radius: 4px;

    transition-property: all;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }

  &--invalid {
    & input,
    & input:hover,
    & input:focus {
      border-color: $danger;
    }
  }

  &__feedback {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 10px;

    font-size: 12px;
    line-height: 1;
  }

  &__error-message {
    align-self: flex-end;
    font-size: 10px;
    color: $danger;
  }
}
