@font-face {
  font-weight: 400;
  font-family: $font-family-base;
  font-style: normal;
  src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: $font-family-base;
  font-style: normal;
  src: url("fonts/Roboto-Medium.woff2") format("woff2"), url("fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: $font-family-base;
  font-style: normal;
  src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: 'Work Sans', Arial, sans-serif;
  font-style: normal;
  src: url("fonts/WorkSans-Bold.woff2") format("woff2"), url("fonts/WorkSans-Bold.woff") format("woff");
}
