// Variables
//

// Colors
$inactive: #707c87;

// Container' min-max widths

$min-width: map-get($grid-breakpoints, sm);
$max-width: 1366px;

// Offsets

$offset--mobile: 15px;
$offset--tablet: 45px;
$offset--desktop: 98px;

// Media
$retina: only screen and ( min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx);
