include ../logo/logo

mixin modal(data)
	+b('div').modal.--invisible.--page-header(id='modal-page-header')&attributes(attributes)
		+e('div').content
			+e('header').header
				+logo({mod: 'extended', width: 150, height: 30})(class='__logo')
				+e('a').trigger(aria-label='Close modal', data-modal='modal-page-header')
					+e('svg').icon(width=16, height=16)
						use(xlink:href='#modal__close')
			+e('form')
				+e('div').form-field--login.login-modal-form-field__
					label(for='login-modal-form-field') Логин
					input(type='text', id='login-modal-form-field', name='login')
					+e('div').feedback
				+e('div').form-field--password.password-modal-form-field__
					label(for='password-modal-form-field') Пароль
					+e('div').inner
						input(type='password', id='password-modal-form-field', name='password')
						button(type='button', aria-label='Show password')
							svg(width=22, height=12)
								use(xlink:href='#modal__show')
					+e('div').feedback
					a(href='#') Забыли&nbsp;пароль?
				button(type='submit') Войти


