.modal {
  $modal: &;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1005;

  display: block;
  transform: translate(-50%, -50%);

  &--invisible {
    display: none;
  }

  &--page-header {
    width: 544px;
    min-height: 493px;

    background-color: $body-bg;
    border: 4px solid $primary;

    @include media-breakpoint-down(md) {
      width: 678px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 455px;
      width: 290px;
    }

    & #{$modal}__inner {
      display: flex;
      flex-flow: column wrap;
      padding: 55px;

      @include media-breakpoint-down(md) {
        @include padding-x(84px);
        @include padding-y(56px);
      }

      @include media-breakpoint-down(sm) {
        @include padding-x(12px);
        @include padding-y(46px);
      }
    }

    & #{$modal}__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
    }

    & #{$modal}__logo {
      & .logo__image {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 150px;
        height: 30px;
      }
    }

    & #{$modal}__trigger {
      display: flex;
      align-self: flex-start;

      stroke: $body-color;
      stroke-width: 2;

      transition-property: stroke;
      transition-duration: 0.3s;
      cursor: pointer;

      &:hover,
      &:focus {
        stroke: $primary;
      }

      &:focus {
        outline: none;
      }

      > * {
        pointer-events: none;
      }
    }

    form {
      position: relative;

      display: flex;
      flex-flow: column wrap;
      width: 100%;

      @include media-breakpoint-down(sm) {
        @include padding-x(4px);
      }

      & button {
        padding: 0;

        background-color: transparent;
        border: 0;

        &:focus {
          outline: none;
        }

        &[type="submit"] {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          min-height: 60px;

          font-size: 18px;
          font-weight: 500;
          color: $body-bg;

          background-color: $primary;
          border: 0;
          border-radius: 4px;

          cursor: pointer;
          transition-property: box-shadow;
          transition-duration: 0.3s;

          &:hover,
          &:focus {
            box-shadow: 0 0 10px $primary;
          }

          @include media-breakpoint-down(sm) {
            min-height: 51px;
            margin-bottom: 25px;

            font-size: 14px;
          }

          &[disabled],
          &[disabled]:hover,
          &[disabled]:focus {
            background-color: $danger;
            box-shadow: initial;
            cursor: not-allowed;
          }
        }
      }

      & #{$modal}__form-field {
        &:last-of-type {
          margin-bottom: 25px;

          @include media-breakpoint-down(md) {
            margin-bottom: 30px;
          }

          @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .login-modal-form-field,
  .password-modal-form-field {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 8px;

    @include media-breakpoint-down(md) {
      margin-bottom: 7px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }

    & label {
      margin-bottom: 8px;

      font-size: 16px;
      line-height: 1;

      cursor: pointer;
    }

    & input {
      width: 100%;
      min-height: 60px;
      padding: 10px;

      font-size: 12px;
      color: $body-color;

      background-color: transparent;
      border: 1px solid $body-color;
      border-radius: 4px;

      transition-property: all;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        outline: none;
        border: 1px solid $primary;
      }

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }

    &--invalid {
      & input,
      & input:hover,
      & input:focus {
        border-color: $danger;
      }
    }

    &__feedback {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      min-height: 10px;

      font-size: 12px;
      line-height: 1;
    }

    &__error-message {
      align-self: flex-end;
      font-size: 10px;
      color: $danger;
    }
  }

  .login-modal-form-field {
    & input {
      margin-bottom: 10px;
    }
  }

  .password-modal-form-field {
    &__feedback {
      width: 75%;
    }

    &__inner {
      position: relative;
      width: 100%;
      margin-bottom: 10px;

      @include media-breakpoint-down(md) {
        margin-bottom: 7px;
      }

      & input {
        padding-right: 65px;
      }

      & button {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 60px;
        padding: 0;
        padding-right: 5px;
        margin: 0;

        fill: $body-color;
        cursor: pointer;
        transition-property: fill;
        transition-duration: 0.3s;

        &:hover,
        &:focus {
          fill: $primary;
        }

        > * {
          pointer-events: none;
        }

        @include media-breakpoint-down(sm) {
          width: 50px;
          padding-right: initial;
        }
      }
    }

    &--invalid {
      & button:hover {
        fill: $danger;
      }
    }

    & a {
      display: flex;
      flex-flow: row nowrap;
      align-self: flex-start;
      width: initial;
      margin-left: auto;

      font-size: 12px;
      line-height: 1;
      color: #707c87;
      text-decoration: $link-decoration;

      outline: none;

      transition-property: color;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }

      @include media-breakpoint-down(sm) {
        position: absolute;
        left: 50%;
        bottom: 0;

        font-size: 14px;

        transform: translateX(-50%);
      }
    }
  }
}
