mixin login(data)
	+b('a').login(id='page-header-login', aria-label='Login', data-modal='modal-page-header')&attributes(attributes)
		+e('svg').icon(width=20, height=22)
			use(xlink:href='#login__icon')
		+e('span').text Войти&nbsp;в&nbsp;Интернет&#8209;банк
		block
